@model Yazley_watch_boutique.product

@{
    ViewBag.Title = "Create";
}
<br />
<h2>Create new product</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p class="control-label col-md-2"><b>Unique Id</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.productId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Model no.</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.model_no, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.model_no, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Product name</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.productName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Image path</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.productImage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Collection</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.collection, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.collection, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Brand</b></p>
            <div class="col-md-10">
                @Html.DropDownList("brand", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.brand, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Price</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Axis</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.axis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.axis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Features</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.feature1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.feature1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.feature2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.feature2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.feature3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.feature3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b></b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.feature4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.feature4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Calibre</b></p>
            <div class="col-md-10">
                @Html.DropDownList("calibreId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.calibreId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Case shape</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.case_shape, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.case_shape, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Case material</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.case_material, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.case_material, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Case size</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.case_size, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.case_size, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Lug width</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.lug_width, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lug_width, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Glass material</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.glass_material, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.glass_material, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Luminocity</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.luminocity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.luminocity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Dial color</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.dial_color, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dial_color, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Indexes</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.indexes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.indexes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Strap material</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.strap_material, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.strap_material, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Strap color</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.strap_color, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.strap_color, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Clasp type</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.clasp_type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.clasp_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>EAN</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.EAN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Gender</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.gender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Water resistence</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.water_resistence, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.water_resistence, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Country Origin</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.country_origin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.country_origin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Warrenty period</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.warrenty_period, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.warrenty_period, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Color</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.color, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.color, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Material</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.material, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Category</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Size</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.size, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.size, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2"><b>Description</b></p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "display","product")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
