<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">

    </script>
    <style type="text/css">
        button {
            background-color: transparent;
            color: gray;
            padding: 13px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
            /*font-family: Lucida Handwriting;*/
            font-family: Verdana;
        }

            button:hover, .dropbtn:focus {
                color: white;
                /*border-bottom: 3px solid white;*/
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        #myDropdown1, #myDropdown4, #myDropdown5, #myDropdown3, #myDropdown6 {
            display: none;
            position: relative;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {
            background-color: white;
        }

        .show {
            display: block;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="dropdown navbar navbar-left">
            <button onclick="myFunction()" class="dropbtn">  <i class="fa fa-bars"></i></button>
            <div id="myDropdown" class="dropdown-content">
                <a onclick="myFunction1()">Brands<i class="fa fa-ellipsis-h" style="float:right"></i></a>
                <div id="myDropdown1" class="dropdown-content">
                    @Html.ActionLink("Frederique Constant", "brand_Display", new { brand = "Frederique Constant" })
                    @Html.ActionLink("H-Moser Cie", "brand_Display", new { brand = "H-Moser Cie" })
                    @Html.ActionLink("Rolex", "brand_Display", new { brand = "Rolex" })
                    @Html.ActionLink("Urwerk", "brand_Display", new { brand = "Urwerk" })
                    @Html.ActionLink("Panerai", "brand_Display", new { brand = "Panerai" })
                    @Html.ActionLink("Rado", "brand_Display", new { brand = "Rado" })
                </div>

                <a onclick="myFunction3()">Watch Finder<i class="fa fa-ellipsis-h" style="float:right"></i></a>
                <div id="myDropdown3" class="dropdown-content">
                    <a onclick="myFunction4()">By Gender<i class="fa fa-ellipsis-h" style="float:right"></i></a>
                    <div id="myDropdown4" class="dropdown-content">
                        @Html.ActionLink("Watches for Men", "Display", new { gender = "Men" })
                        @Html.ActionLink("Watches for Women", "Display", new { gender = "Women" })
                    </div>

                    <a onclick="myFunction5()">By Price<i class="fa fa-ellipsis-h" style="float:right"></i></a>
                    <div id="myDropdown5" class="dropdown-content">
                        @Html.ActionLink("upto 10000", "price_Display", new { price1 = 0, price2 = 10000 })
                        @Html.ActionLink("upto 30000", "price_Display", new { price1 = 10000, price2 = 30000 })
                        @Html.ActionLink("upto 70000", "price_Display", new { price1 = 30000, price2 = 70000 })
                        @Html.ActionLink("upto 90000", "price_Display", new { price1 = 70000, price2 = 90000 })
                        @Html.ActionLink("upto 100000", "price_Display", new { price1 = 90000, price2 = 100000 })
                        @Html.ActionLink("more than 100000", "price_Display", new { price1 = 100000, price2 = 10000000 })
                    </div>

                    <a onclick="myFunction6()">By Material<i class="fa fa-ellipsis-h" style="float:right"></i></a>
                    <div id="myDropdown6" class="dropdown-content">
                        @Html.ActionLink("Rose gold case watches", "material_display", new { material = "Rose gold" })
                        @Html.ActionLink("White gold watches", "material_display", new { material = "White gold" })
                        @Html.ActionLink("Steel watches", "material_display", new { material = "Steel" })
                        @Html.ActionLink("Leather strap watches", "material_display", new { material = "Leather" })
                        @Html.ActionLink("Sapphire Crystal glass watches", "material_display", new { material = "Sapphire Crystal" })
                    </div>
                </div>

                @Html.ActionLink("Accessories", "Acces_Display", new { category = "accessories" })
                @Html.ActionLink("The Watch Guide", "TWG", "Home")
                @Html.ActionLink("Repair And Services", "BoutiqueDetails", "Home")
                @Html.ActionLink("Our Boutiques", "BoutiqueDisplay", "Home")
                <a href="Home/cart/11">Your Cart</a>
                @Html.ActionLink("Your Orders", "OrderList", new { user = Session["UserId"] })
                @Html.ActionLink("Feedback", "ListFeedback","Home")
                <a href="#about">About</a>
                <a href="#contact">Contact</a>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                
                @Html.ActionLink("Yazley", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
               
                <a class="navbar-right" href="Home/Login" style="float:right; padding-top:15px;">Log Out
                </a>

                <a class="navbar-left" href="Home/Search" style="float:right;padding-top:15px;"><i class="fa fa-search"></i></a>


            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Yazley watch boutique</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        function myFunction1() {
            document.getElementById("myDropdown1").classList.toggle("show");
        }

        function myFunction2() {
            document.getElementById("myDropdown2").classList.toggle("show");
        }

        function myFunction3() {
            document.getElementById("myDropdown3").classList.toggle("show");
        }

        function myFunction4() {
            document.getElementById("myDropdown4").classList.toggle("show");
        }

        function myFunction5() {
            document.getElementById("myDropdown5").classList.toggle("show");
        }

        function myFunction6() {
            document.getElementById("myDropdown6").classList.toggle("show");
        }
    </script>
</body>
</html>