@model IEnumerable<Yazley_watch_boutique.product>

@{
    ViewBag.Title = "Your Cart";
}

<h2>Your Cart</h2>

<p>
    @Html.ActionLink("Shop more", "Index")
</p>
<table class="table">

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="5">
                Your cart is empty!!!
            </td>
        </tr>
    }
    else
    {
    foreach (var item in Model)
    {
        <tr>
            <td rowspan="5">
                <img src="@Url.Content(item.productImage)" width="200" height="200" />
            </td>
        </tr>

        <tr>
            <td style="font-family:'Berlin Sans FB'; font-size:large">
                <b>@Html.DisplayFor(modelItem => item.productName)</b>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.model_no)
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.price)

            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Delete", "Cart", new { id = item.productId, IsDelete = true })
            </td>
        </tr>
    }
    }
</table>

<button style="background-color:lightblue; width:300px; padding:10px; box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
        border-radius: 8px; float:right; border:0")">
    @Html.ActionLink("Procees", "PayMethodForm", new { id = Session["UserId"] })
</button>