@model Yazley_watch_boutique.product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.productName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.model_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.collection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.collection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.axis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.axis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.feature1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.feature1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.feature2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.feature2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.feature3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.feature3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.feature4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.feature4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.case_shape)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.case_shape)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.case_material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.case_material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.case_size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.case_size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lug_width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lug_width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.glass_material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.glass_material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.luminocity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.luminocity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dial_color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dial_color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.indexes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.indexes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strap_material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strap_material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strap_color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strap_color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clasp_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clasp_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.water_resistence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.water_resistence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country_origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country_origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.warrenty_period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warrenty_period)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brand1.brandImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brand1.brandImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calibre.brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calibre.brand)
        </dd>

    </dl>
</div>

<button style="background-color:lightblue; width:300px; padding:10px; box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
        border-radius: 8px; border:0">
    @Html.ActionLink("Check for Our Selling Price", "Inquiry", new { id = Model.productId })
</button>

<button style="background-color:lightblue; width:300px; padding:10px; box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
        border-radius: 8px; border:0">
    @Html.ActionLink("Back to List", "Index")
</button>

